  <div class="  flex-column align-items-start ">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Ford</h5>
      <small>22.09.17 12:56:34</small>
    </div>

    <p class="mb-1">
      Focus
    </p>
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <button type="button" class="btn btn-danger btn-sm">Delete Car</button>
        <button type="button" class="btn btn-success btn-sm">Buy Car</button>
      </div>
    </div>
  </div>

